:root{
    --background: rgb(245, 245, 245);
    --blocks: rgb(255, 255, 255);

    --highlight: rgb(58, 207, 71);

    --primary: #404040;
    --secondary: rgb(30, 30, 30);
    --teritary: #f8f8f8;

}


details > summary {
    border-left: 6px solid var(--secondary);
    background-color: var(--blocks);
    padding: 10px;
}

details {
    background-color: var(--blocks);
    border-radius: 0px 0px 18px 18px;
}

details > div {
    padding: 16px 16px 20px 16px;
}

details > p {
    padding: 40px;
}

body {
    background-color: var(--background);
}

a {
    color: var(--primary)
}

a:hover {
    color: var(--highlight);
}

h2 {
    margin-bottom: 0;
}

section.item > p {
    margin-top: 5px;
    margin-bottom: 5px;
}



div.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    padding: 5px;
    justify-content:center;
    align-content: end;
    gap: 5vw;
}

@media screen and (max-width: 720px) {
    div.grid {
        display: grid;
        grid-template-columns: auto;
        padding: 5px;
        justify-content:center;
    }
}

#grid-item {
    width: 100%;
    margin: 0 5vw 0 5vw;
}

.cover-image {
    width: 100%;
    height: 15vh;
    overflow: hidden;
    object-fit: cover;
}


/* navigation */

nav.navigation {
    background-color: var(--background);
}

nav.navigation a {
    color: var(--primary);
    font-size: 16px;
}

nav.navigation a:hover {
    color: var(--highlight)
}


/* index post list */

#list-page .item {
    margin-top: 16px;
    margin-bottom: 16px;;
}

#list-page .title a:hover {
    color: var(--highlight)
}

section.item {
    background-color: var(--blocks);
    padding: 14px;
    border-radius: 14px;
    margin: 10px;
}

/* single page */

#single .tags a:hover {
    color: var(--highlight);
}

/* tags */

#tags .tag a:hover {
    color: var(--highlight);
}

/* profile */

.profile .avatar {
    width: 160px;
    height: 160px;
    border: 8px solid var(--teritary);
}

/* archive */

#archive .group .value .title a {
    color: var(--primary);
}

#archive .group .value .title a:hover {
    color: var(--highlight);
}

